@{
    ViewData["Title"] = "Lista de Animes";
    var listName = ViewBag.ListName as string;
    var list = ViewBag.List as List<MyAnimeCollection.Models.Anime>;
    var error = ViewBag.Error as string;
}

<div class="container">
    <h1 class="my-4">@CapitalizeFirstLetter(listName)</h1>

    @if (!string.IsNullOrEmpty(error))
    {
        <h5>@error</h5>
    }
    else if (list == null || !list.Any())
    {
        <h5>Lista não encontrada</h5>
    }
    else
    {
        <div class="row">
            @foreach (var anime in list)
            {
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                    <div class="card h-100 position-relative">
                        <a href="@($"/anime/{anime.MalId}")">
                            <img src="@anime.Images.Jpg.ImageUrl" alt="@anime.Title" class="card-img-top fixed-image" />
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">@anime.Title</h5>
                            <p class="card-text">Avaliação: @RenderStars(anime.Score)</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>

@functions {
    public string CapitalizeFirstLetter(string str) =>
    System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(str.ToLower());

    public string RenderStars(double score)
    {
        int stars = (int)Math.Round(score / 2);
        return string.Concat(Enumerable.Repeat("★", stars)) +
        string.Concat(Enumerable.Repeat("☆", 5 - stars));
    }
}
